body {
  text-align: center;
  background-color: #F3E6E3;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #D3C09A;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #D7385E;
  opacity: 0.8;
}

.red {
  background-color: #FF94CC;
}

.green {
  background-color: #16C79A;
}

.blue {
  background-color: #1CC5DC;;
}

.yellow {
  background-color: #EDFFA9;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
